.NewExercise {
	background: white;
}

.NewExercise label {
	padding: 10px;
	margin: 10px;
	font-size: 24px;
}

.NewExercise input {
	padding: 10px;
	margin: 10px;
	font-size: 24px;
}

.NewExercise .submitBtn {
	height: 35px;
	width: 100px;
	font-size: 24px;
}

.NewExercise .btnGroup {
	display: inline;
}