.list-group-item {
	display: flex;
	align-content: flex-end;
	background: yellow;
	border: 5px solid orange;
}

.ExistingExercise p {
	display: inline;
	font-size: 24px;
	padding: 20px;
	margin: 0px;
}

.ExistingExercise .close {
	opacity: 1;
	font-size: 30px;
}

.ExistingExercise .close span:hover {
	color: red;
}