.ExistingExercise .list-group-item {
	display: flex;
	align-content: flex-end;
}

.ExistingExercise {
	min-width: 0px;
}

.ExistingExercise p {
	display: inline;
	font-size: 24px;
	padding: 20px;
	margin: 0px;
	min-width: 0px;
}

.ExistingExercise p span {
	font-size: 20px;
	padding: 8px;
}

.ExistingExercise .close {
	opacity: 1;
	font-size: 30px;
}

.ExistingExercise .close span:hover {
	color: red;
}